html, body {
    margin-top: 0;
    margin-left: 0;
    font-family: Helvetica, Arial, sans-serif;
    @fontface "font-family: Droid Ser";
    height: 100%;
    width: 100%;
    padding: 0;
    margin:  0;
}

.note-frame{
    margin-left:20%;
    margin-top:5%;
    width:60%;
    height:75%;
    box-shadow: 0px 0px 10px #333333;
}

#left-pane {
    margin-left:0;
    margin-top:0;
    width:30%;
    height:100%;
    background:#e7e5e5;
    box-shadow:0px 0px 10px #333333;
    float:left;
}

#note-area {
    width:70%;
    height:100%;
    float:right;
}

#note-title {
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    font-size:20px;
    font-weight:bolder;
    float:left;
}

#note-web-url{
    border-radius:3px;
    background-color:#494949;
    text-decoration:none;
    padding:8px;
    margin-right:20px;
    margin-top:12px;
    float:right;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
}

#note-list-title {
    margin-top:20px;
    margin-left:20px;
    font-size:20px;
    font-weight:bolder;

}

#note-list {
    margin:0px;
    padding:0px;
}

.note-list {
    margin-top:10px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    list-style:none;
    font-size:16px;
    font-weight:normal
}
.note-list:hover {
    cursor:pointer;
    font-weight:bold;
}
.note-list-click {
    background-color:#494949;
    color:#ffffff;
    font-weight:bold;
}

#note-title-area{
    height:50px;
}

#note-body{
    padding-top:15px;
    padding-left:20px;
    padding-right:20px;
    text-align:justify;
    font-size:16px;
}

#side-note-area {
    width:100%;
    height:90%;
    box-sizing:border-box;
    margin-top:0px;
    margin-left:0px;
    float:left;
}

#header-bar {
   background-color:#494949;
   font-weight:bold;
   color:#ffffff;
   height:40px;
}

#notebag-title {
    float:left;
    padding-top:10px;
    padding-left:20px;
}
#note-nav-buttons{
    float:right;
    padding-right:15px;
}
.side-note-nav{
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

#side-note-hide-btn {
    padding-top:13px;
}
#side-note-web-btn {
    padding-top:8px;
}

#side-note-show {
    float:left;
    width:100%;
    height:100%;
}

#side-note-show-btn {
    margin-top:10px;
    margin-right:10px;
}

#side-note-hidden {
    width:20%;
    height:100%;
    box-sizing:border-box;
    margin-top:0px;
    margin-left:0px;
    float:right;
    display:none;
    background-color:#494949;
}